* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 1rem;
}

/*----------------------- Typography Styles ------------------------------ */

h1 {
  font-size: 1.7rem;
  margin-block-end: 0.5em;
  -webkit-margin-after: 0.5em; /* for safari */
}

@media (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.1rem;
  margin-block-end: 0.5em;
  -webkit-margin-after: 0.5em; /* for safari */
  font-weight: normal;
  color: #848484;
}

@media (min-width: 600px) {
  h2 {
    font-size: 1.2rem;
  }
}

h3 {
  font-size: 1.2rem;
  margin-block-end: 2em;
  -webkit-margin-after: 2em; /* for safari */
}

h1,
h2,
h3,
p {
  line-height: 1.5;
}

/*----------------------- Global Styles ------------------------------ */

.wrapper {
  border: 1px solid #ddd;
  border-radius: 5px;
}

/*----------------------- Header Styles ------------------------------ */

.header {
  padding: 2rem 1rem 1rem;
  margin-block-end: 1rem;
  -webkit-margin-after: 1rem; /* for safari */
  background: #f5f5f5;
  display: grid;
  justify-items: center;
}

/*----------------------- Select Data Styles ------------------------------ */

.data-source-container {
  margin-block-start: 1.5rem;
  -webkit-margin-before: 1.5rem; /* for safari */
  margin-block-end: 1.5rem;
  -webkit-margin-after: 1.5rem; /* for safari */
}

.data-source__form > * {
  display: block;
}

.data-source__label {
  margin-inline-end: 0;
  -webkit-margin-end: 0; /* for safari */
  margin-block-end: 0.3rem;
  -webkit-margin-after: 0.3rem; /* for safari */
}

@media (min-width: 500px) {
  .data-source__form {
    display: flex;
    align-items: center;
  }

  .data-source__label {
    margin-inline-end: 0.75rem;
    -webkit-margin-end: 0.75rem; /* for safari */
    margin-block-end: 0;
    -webkit-margin-after: 0; /* for safari */
  }
}

.data-source__select {
  /* General styling */
  height: 30px;
  border: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.3rem;
  padding-right: 2rem;
  cursor: pointer;

  /* Removes the default <select> styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Positions background arrow image */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 96% center;
}

/*----------------------- Search Styles ------------------------------ */

.search {
  width: 100%;
  margin-block-end: 1.5rem;
  -webkit-margin-after: 1.5rem; /* for safari */
}

@media (min-width: 600px) {
  .search {
    width: 60%;
  }
}

.search__field {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/*----------------------- Book List Styles ------------------------------ */

.books {
  padding: 1rem;
}

.books__inner {
  max-width: 800px;
  margin: 0 auto;
}

.books__warning {
  color: #856404;
  background: #fff3cd;
  padding: 1rem 1.4rem;
  border-radius: 5px;
  margin-block-end: 2.5rem;
  -webkit-margin-after: 2.5rem; /* for safari */
}

.books__message {
  color: purple;
  background: rgba(128, 0, 128, 0.192);
  padding: 1rem 1.4rem;
  border-radius: 5px;
  margin-block-end: 2.5rem;
  -webkit-margin-after: 2.5rem; /* for safari */
}

.books__message.books__message--is-hidden {
  display: none;
}

.book-list {
  margin-block-end: 2.5rem;
  -webkit-margin-after: 2.5rem; /* for safari */
  padding: 0;
  list-style-type: none;
  overflow: auto;
}

.book-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1.3rem;
  -webkit-margin-after: 1.3rem; /* for safari */
  border-left: 5px solid #ddd;
}

.book-list__item.book-list__item--is-hidden {
  display: none;
}

.book-list__item.book-list__item--is-hovered {
  border-left: 5px solid purple;
}

.book-list__title {
  padding: 1rem;
}

.book-list__delete {
  background: purple;
  color: white;
  padding: 0.3rem 0.5rem;
  margin: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.book-list__delete:hover {
  background: black;
}

.books__no-data {
  margin-block-end: 2.5rem;
  -webkit-margin-after: 2.5rem;
}

/*----------------------- Hide Books Styles ------------------------------ */

.hide-books {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-block-end: 2rem;
  -webkit-margin-after: 2rem; /* for safari */
}

.hide-books {
  flex: 1;
}

.hide-books label,
.hide-books__input {
  cursor: pointer;
}

.hide-books__input {
  margin-inline-end: 0.5rem;
  -webkit-margin-end: 0.5rem; /* for safari */
}

/*----------------------- Add Book Styles ------------------------------ */

.add-book {
  margin-block-end: 1rem;
  -webkit-margin-after: 1rem; /* for safari */
}

.add-book__inner {
  width: 100%;
}

@media (min-width: 600px) {
  .add-book__inner {
    width: 60%;
    margin: 0 auto;
  }
}

.add-book__inner form {
  display: flex;
}

.add-book__title {
  flex: 1 1 80%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.add-book__submit {
  flex: 1 1 20%;
  background: purple;
  color: white;
  border-radius: 0; /* iOS 12.1.3 safari 12 fix */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid purple;
  cursor: pointer;
  -webkit-appearance: none; /* iOS 12.1.3 safari 12 fix */
}

/*----------------------- Utility Styles ------------------------------ */

.is-hidden {
  display: none;
}
